@import "tailwindcss";
@plugin "flowbite-react/plugin/tailwindcss";
@source "../.flowbite-react/class-list.json";

@custom-variant dark (&:where(.dark, .dark *));

:root {
  --primary-color: #fff;
  --secondary-color: #095533;
  --primary-text-color: #000;
  --secondary-text-color: #fff;
  --bg-color: #d9d9d9;
}

